{# v0.1.5 #}
<h3 class="h3 title text-center">{{ heading_title }}</h3>
<div class="row product-row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <div class="product-thumb ">
      <div class="image">
        {% if not product.stock or product.special %}
          <div class="sticker">
            {% if not product.stock %}
              <div class="sticker-item sticker--sold-out">SOLD OUT</div>
            {% elseif product.special %}
              <div class="sticker-item sticker--sold-out">SALE</div>
            {% endif %}
          </div>
        {% endif %}
        <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
      </div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p class="category"> <a href="{{ product.category_href }}">{{ product.category_name }}</a> </p>
        <p class="description">{{ product.description }}</p>
        {% if product.rating %}
          <div class="rating">
            {% for i in 5 %}
              {% if product.rating < i %}
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
              {% else %}
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if product.price %}
          <p class="price">
            {% if not product.special %}
              {{ product.price }}
            {% else %}
              <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
              <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
          </p>
        {% endif %}

        <button type="button" class="button button-wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
           <svg width="18" height="18" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.7077 27.4057L15 27.6163L17.7132 24.9278L18.0264 25.3176C18.0265 25.3175 18.0266 25.3174 18.0267 25.3173C18.9831 24.5487 20.1884 23.4691 21.6398 22.0835L21.6399 22.0835L21.6432 22.0802C23.1042 20.6591 24.3685 19.2603 25.4342 17.8835C26.5095 16.4942 27.4512 14.9095 28.2612 13.1322L28.2623 13.1296C29.0808 11.3068 29.5 9.55564 29.5 7.8812C29.5 5.62107 28.8548 3.79745 27.506 2.48146C26.1588 1.14076 24.3003 0.5 22 0.5C20.2416 0.5 18.6592 0.970024 17.2691 1.91595L17.2691 1.91592L17.2637 1.91969C16.2742 2.61227 15.5168 3.46672 14.998 4.47887C14.4711 3.46455 13.6953 2.60974 12.6794 1.91781C11.3233 0.969453 9.75721 0.5 8 0.5C5.69975 0.5 3.84122 1.14076 2.49402 2.48144C1.14519 3.79743 0.5 5.62106 0.5 7.8812C0.5 9.55564 0.919159 11.3068 1.73767 13.1296L1.73766 13.1296L1.73882 13.1322C2.5488 14.9095 3.49053 16.4942 4.56585 17.8835C5.63154 19.2603 6.89584 20.6591 8.3568 22.0802L8.36016 22.0835C9.8105 23.4681 10.9953 24.5453 11.9119 25.3115L11.9189 25.3173L11.926 25.3228C12.871 26.0561 13.7982 26.7504 14.7077 27.4057Z" stroke="#A52020"></path>
          </svg>
        </button>

      </div>

      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
